:root {
    --primaryColor: #512B81;
    --secondaryColor: #8CABFF;
    --thirdColor: #CD6688;
    --fourthColor: #FFF0F5;
    --darkPrimaryColor: #35155D;
    --darkSecondaryColor: #4477CE;
    --darkThirdColor: #7A316F;
    --darkFourthColor: #FFD1DA;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--fourthColor);
    scroll-behavior: smooth;
    font-size: 80%;
}

.main {
    margin-top: 4rem;
}

.main-header {
    background-color: var(--darkPrimaryColor);
    padding: 0.8rem 1.6rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    height: 6rem;
    text-align: center;
    left: 0;
    top: 0;
}

.main-header__logo {
    color: var(--darkFourthColor);
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: bold;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: relative;
    top: 0.7rem;
    right: 1rem;
}

footer {
    background-color: var(--darkPrimaryColor);
    padding: 2.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--fourthColor);
    font-size: 1.5rem;
    text-decoration: none;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0.5rem;
}

#footer-links li {
    position: relative;
    top: 2rem;
}

#social-links {
    text-align: right;
}

.fab, .fas, .far {
    padding: 0.6rem;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
    background-color: #3b5998;
    color: var(--fourthColor);
}

.fa-twitter {
    background-color: #55acee;
    color: var(--fourthColor);
}

.fa-instagram {
    background-color: #125688;
    color: var(--fourthColor);
}