@media (min-width: 576px) {
    html {
        font-size: 68%;
    }
    
    .container {
        margin: 0 auto;
        width: 540px;
    }

    #showcase {
        height: 50vh;
    }

    .plan__featured {
        position: relative;
        top: -20px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 72%;
    }

    .container {
        margin: 0 auto;
        width: 720px;
    }

    #showcase {
        height: 60vh;
    }

    .signup-form {
        width: 500px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 78%;
    }
    
    .container {
        margin: 0 auto;
        width: 720px;
    }

    #showcase {
        height: 70vh;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 78%;
    }

    #showcase {
        height: 80vh;
    }

    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 80%;
    }

    #showcase {
        height: 90vh;
    }

    .container {
        margin: 0 auto;
        width: 1320px;
    }
}



@media (max-width: 576px) {
    [class="col-"] {
        width: 100%;
    }

    .main-nav__item {
        display: none;
    }

    .main-nav__item:last-child {
        display: block;
    }

    .responsive .main-nav__item {
        display: block;
    }

    .responsive .main-nav {
        display: block;
        text-align: left;
        margin: 1rem 0;
    }

    .responsive .main-nav__item:last-child {
        position: absolute;
        right: 40px;
        top: 6px;
    }
}

@media (max-width: 768px) {
    .col-2, .col-3, .col-4 {
        width: 100%;
    }

    .main-nav__item {
        display: none;
    }

    .main-nav__item:last-child {
        display: block;
    }
    
    .responsive .main-nav__item {
        display: block;
    }

    .responsive .main-nav {
        display: block;
        text-align: left;
        margin: 1rem 0;
    }

    .responsive .main-nav__item:last-child {
        position: absolute;
        right: 40px;
        top: 6px;
    }
}