.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    margin: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition-duration: .6s;
}

.btn-primary {
    background-color: var(--primaryColor);
    color: var(--fourthColor);
    border: 2px solid var(--darkFourthColor);
}

.btn-primary:hover {
    background-color: var(--darkFourthColor);
    color: var(--primaryColor);
    border: 2px solid  var(--primaryColor);
}

.btn-secondary {
    background-color: var(--darkThirdColor);
    color: var(--fourthColor);
    border: 2px solid var(--fourthColor);
}

.btn-secondary:hover {
    background-color: var(--fourthColor);
    color: var(--darkThirdColor);
    border: 2px solid var(--darkThirdColor);
}