@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --primaryColor: #512B81;
    --secondaryColor: #8CABFF;
    --thirdColor: #CD6688;
    --fourthColor: #FFF0F5;
    --darkPrimaryColor: #35155D;
    --darkSecondaryColor: #4477CE;
    --darkThirdColor: #7A316F;
    --darkFourthColor: #FFD1DA;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --success: #28a754;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', 'sans-serif';
    font-size: 1.6rem;
    background-color: var(--fourthColor);
    line-height: 1.6;
    color: var(--primaryColor);
}

.text-primary {color: var(--primaryColor);}
.text-secondary {color: var(--secondaryColor);}
.text-third {color: var(--thirdColor);}
.text-fourth {color: var(--fourthColor);}
.text-darkprimary {color: var(--darkPrimaryColor);}
.text-darksecondary {color: var(--darkSecondaryColor);}
.text-darkthird {color: var(--darkThirdColor);}
.text-darkfourth {color: var(--darkFourthColor);}
.text-success {color: var(--success);}
.text-danger {color: var(--danger);}
.text-warning {color: var(--warning);}
.text-info {color: var(--info);}

.bg-primary {color: var(--primaryColor);}
.bg-secondary {color: var(--secondaryColor);}
.bg-third {color: var(--thirdColor);}
.bg-fourth {color: var(--fourthColor);}
.bg-darkprimary {color: var(--darkPrimaryColor);}
.bg-darksecondary {color: var(--darkSecondaryColor);}
.bg-darkthird {color: var(--darkThirdColor);}
.bg-darkfourth {color: var(--darkFourthColor);}
.bg-success {color: var(--success);}
.bg-danger {color: var(--danger);}
.bg-warning {color: var(--warning);}
.bg-info {color: var(--info);}

.col-2{
    float: left;
    width: 50%;
}

.col-3{
    float: left;
    width: 33.3%;
    padding: 0 4rem;
}

.col-4 {
    float: left;
    width: 25%;
}

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.7rem 1.5rem;
    margin: 1.6rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    transition-duration: .6s;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    background-color: var(--primaryColor);
    color: var(--fourthColor);
    border: 0.2rem solid var(--darkFourthColor);
}

.btn-primary:hover {
    background-color: var(--darkFourthColor);
    color: var(--primaryColor);
    border: 0.2rem solid  var(--primaryColor);
}

.btn-secondary {
    background-color: var(--darkThirdColor);
    color: var(--fourthColor);
    border: 0.2rem solid var(--fourthColor);
}

.btn-secondary:hover {
    background-color: var(--fourthColor);
    color: var(--darkThirdColor);
    border: 0.2rem solid var(--darkThirdColor);
}